" Emulated Vim Plugins
" IdeaVim extensions emulate plugins of the original Vim. In order to use IdeaVim extensions, you have to enable them via this command
Plug '<extension-github-reference>'

scriptencoding utf-8
set enc=utf-8
set fileencoding=utf-8
set fileencodings=ucs-bom,utf8,prc

" leader键
let mapleader = ","

""" Common settings -------------------------
set so=5
set history=5000 " 设置命令历史记录条数
set showcmd " 在状态栏显示正在输入的命令
set showmode " 在状态栏显示vim模式
set clipboard+=unnamed " Vim 的默认寄存器和系统剪贴板共享
set hlsearch " 设置文内智能搜索提示 高亮search命中的文本
set incsearch " 打开增量搜索模式,随着键入即时搜索
"set ignorecase " 搜索时忽略大小写
set smartcase " 有一个或以上大写字母时仍大小写敏感
set nohighlight " 每次查找替换后 Vim 停止高亮
set nocompatible " 关闭兼容vi
set expandtab " 将制表符扩展为空格
set t_Co=256 "colorscheme"
colorscheme badwolf " colorscheme monokai
"set keep-english-in-normal
set keep-english-in-normal-and-restore-in-insert
:set noeb " 设置没有声音
:set vb t_vb=
set visualbell " disable the fucking sounds
set noerrorbells

""" Idea specific settings ------------------
set ideajoin " 使用命令-J
set ideastatusicon=gray
set idearefactormode=keep

""" Plugins  --------------------------------
set surround " 模拟surround
set multiple-cursors "Multiple cursors support-<A-n>, <A-x>, <A-p>, g<A-n>
set easymotion " easyMotion 模拟，额外依赖插件：AceJump,IdeaVim-EasyMotion <Leader><Leader>s <Leader><Leader>f <Leader><Leader>w <Leader><Leader>b
set commentary " 注释插件模拟 gcc注释当前行
set argtextobj
set textobj-entire
set highlightedyank " 高亮选中的复制区域
set ReplaceWithRegister "gr grr
set NERDTree

""" Plugin settings -------------------------
map <leader>e :action SelectInProjectView<CR>
nnoremap <leader>d :NERDTreeFocus<CR>
nnoremap <leader>nt <ESC>:NERDTreeToggle<CR>
let g:argtextobj_pairs="[:],(:),<:>"

"""leader Mappings --------------------------------
nnoremap <leader>ev :e C:/Users/dongl/.ideavimrc<CR>
nnoremap <leader>wv :w! C:/Users/dongl/.ideavimrc<CR>
nnoremap <leader>sv :source C:/Users/dongl/.ideavimrc<CR>
nnoremap <leader>mb :action XDebugger.MuteBreakpoints<CR> " 将断点取消
nnoremap <leader>gb :action Git.CompareWithBranch<CR> " 与其他分支比较
nnoremap <leader>gr :action Compare.Selected<CR> " 与当前分支之前的git版本比较
nnoremap <leader>r :action RecentFiles<CR> " 查找最近打开的文件
nnoremap <leader>nn :action GotoNextError<CR> " 跳转到下一个错误
nnoremap <leader>nb :action GotoPreviousError<CR> " 跳转到上一个错误
nnoremap <leader>fdb :action GotoDatabaseObject<CR> " 搜索数据库对象

"""keymap Mappings --------------------------------
" Quit insert mode
inoremap jj <Esc>
" Quit visual mode
vnoremap v <Esc>

if has("clipboard")
    " select模式下复制
    vnoremap <C-C> "+y
endif

nnoremap x "_x
vnoremap x "_x
"Move to the start of line
nnoremap H ^
" Move to the end of line
nnoremap L $
vnoremap H ^
vnoremap L $
" X删除当前字符并进入插入模式
nnoremap X vc

inoremap <C-A> <Esc>^i
inoremap <C-E> <Esc>$a

inoremap <C-J> <Esc>o
inoremap <C-K> <Esc>O

"del current char
inoremap <C-X>x <Esc>lxi
"del current word
inoremap <C-X>w <Esc>ldwi
"del current line
inoremap <C-X>l <Esc>ddi
"del content from x to line end
inoremap <C-X>e <Esc>lc$
"del content from x to line begin
inoremap <C-X>a <Esc>lc^

"copy and paste
nnoremap <leader>y "*y
nnoremap <leader>p "*p
nnoremap <leader>P "0p
" Yank to the end of line
nnoremap Y y$
vnoremap Y "+y